<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.guide.guidepage" >
    <application>
        <activity android:name="com.king.guide.guidepage.GuidePageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
